@model ContainerTemplateViewModel

<div class="card">
    <div class="card-title">@Html.DisplayFor(model => model.ContainerName)</div>
    <div class="card-body">
        @Html.DisplayFor(model => model.Templates)
    </div>
</div>