@model NewAzureResourceViewModel

<form asp-action="Add" asp-controller="AzureResources">
    <div class="card">
        <input type="hidden" asp-for="CloudId" />
        <input type="hidden" asp-for="ResourceContainerId" />
        <div class="card-title">Add a resource</div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name"/>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <input type="text" asp-for="Type" />
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </div>
</form>