@model Wimc.Models.Resources.DeleteResourceViewModel

<div class="card-body">
    <form asp-action="ConfirmResourceDelete" asp-controller="AzureResources">
        <input type="hidden" asp-for="ResourceId" />
        <input type="hidden" asp-for="ResourceContainerId" />
        <input type="submit" value="Delete">
    </form>
</div>