@model ResourceContainerIndexModel


<div class="card">
    <div class="card-header">Resources 
        <a asp-action="Inspect" asp-controller="AzureResources" class="btn btn-primary">Inspect</a> 
        </div>
    <div class="card-body table">
        <table class="table-striped">
            <thead>
            <tr>
                <th>Resource</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @Html.DisplayFor(model => model.Resources)
            </tbody>
        </table>
    </div>
</div>