@model ContainerMigrationsViewModel
<div class="card">
    <div class="card-title">Containers</div>
    <div class="card-body">
        <div class="table">
            <table class="table-striped">
                <thead>
                <tr>
                    <th scope="col">Container</th>
                    <th scope="col">Resources</th>
                    <th scope="col">Migrated</th>
                    <th scope="col">Percent Migrated</th>
                </tr>
                </thead>      
                <tbody>
                    @Html.DisplayFor(model => model.Containers)
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<div class="card">
    <div class="card-title">Migration Status</div>
    <div class="card-body">
        @Html.DisplayFor(model => model.MigrationStatus)
    </div>
</div>