@model ContainerMigrationViewModel


<tr>
    <td>@Html.DisplayFor(model => model.ContainerName)</td>
    <td>@Html.DisplayFor(model => model.ResourceCount)</td>
    <td>@Html.DisplayFor(model => model.MigratedCount)</td>
    <td>@Html.DisplayFor(model => model.MigrationPercent)</td>
</tr>