@model ResourceContainerViewModel


<tr>
    <td>@Html.DisplayFor(model => model.ContainerName)</td>
    <td><a asp-action="Detail" asp-controller="AzureResources" asp-route-id="@Model.ResourceContainerId" class="btn btn-primary">Detail</a></td>
</tr>